.time {
    background-color: white;
    border-radius: 5px;
    float: left;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding-left: 20px;
    padding-right: 20px;
    width: 450px;
    margin-top: 20px;
}

.display{
    font-size: 26px;
    color: black;
}