.container {
  max-width: 1080px;
  margin: 20px auto;
  color: #121212;
  background-color: #121212;
}

.title {
  color: white;
  text-align: center;
  margin-top: 30px;
}

.weatherarea {
  float: left;
}

.mapping {
  float: right;
}

.image{
  width: 550px;
  border-radius: 5px;
  margin: 20px auto;
  /* height: 300px; */
}

.timearea{
  float: left;
}